<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>연습프로젝트</title>

    <script>
        $(document).ready(function () {
            listing();
        });

        function listing() {
            fetch('/listing').then((res) => res.json()).then((data) => {
                let rows = data['result']
                console.log(rows)
                rows.forEach((a) => {
                    let name = a['name']
                    let content = a['content']

                    let temp_html = `<p>${name} ${content}<button onclick="del('${name}')">삭제</button></p>`
                    $('#list_area').append(temp_html)
                });
            });
        };

        function add() {
            let name = $("#name").val();
            let content = $("#content").val();

            let formData = new FormData();
            formData.append("name_give", name);
            formData.append("content_give", content);

            fetch('/add', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
                console.log(data);
                alert(data['result'])
                window.location.href = '/'
            }
            )
        }

        function del(a) {
            let name = a
            let formData = new FormData();
            formData.append("name_give", name);

            fetch('/delete', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
                console.log(data);
                alert(data['result'])
                window.location.href = '/'
            }
            )
        }
    </script>
</head>

<body>
    <h1>연습프로젝트</h1>
    <div id="input_area">
        <input id="name">
        <input id="content">
        <button onclick="add()">입력</button>
    </div>
    <div id="list_area"></div>
</body>

</html>